body{
    background-image:url(../images/pow-star.png);
    text-shadow: 1px 1px black;
}
#timeRemaining{
    background-color: aquamarine;
}
#game{
    background-color: aquamarine;
}
#header{
    background-color: black;
    color: white;
    text-shadow: 1px 1px gray;

}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
    color: gray;
}
p{
    font-size: 24px;
    color: gray;
}
.answer-generated {
    text-align: center;
    width: 100%;
}

.answer-generated:hover {
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}

.startButton {
    text-align: center;
    border: 1px solid black;
    width: 25%;
    background-color: white;
}
.startButton:hover{
    cursor: pointer;
}
img{
    height: 200px;
    width: 200px;
}